<div>
    <h1>Lista de productos</h1>

    <div>
        {{#each this.products}}
        <div>
            <p>{{this.title}}</p>
            <br><br>
        </div>
        {{/each}}

    </div>

</div>
