<div>
    <h1>Restaura tu contraseña</h1>
    <form id="resetRequestPasswordForm">
        <label>Correo Electronico</label>
        <input name="email">
        <br>
        <input type="submit">
    </form>
    <p><a href="/login">Volver al login</a></p>
</div>

<script src="/js/requestResetPassword.js"></script>