<div>
    <h1>Restaura tu contraseña</h1>
    <form id="resetPasswordForm">
        <label>Correo electrónico</label>
        <input name="email">
        <br>
        <label>Nueva contraseña</label>
        <input name="password">
        <input type="submit">
    </form>
    <p><a href="/login">Volver al login</a></p>
</div>

<script src="/js/resetPassword.js"></script>